{% extends "base.html" %}

{% block navigation %}
<!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li><a href="{{ url_for('auth.index') }}">Ranks</a></li>
                    {% if session.get("ID") != None %}
                    <li><a href="{{ url_for('load.display_product', cat='food') }}">Food</a></li>
                    <li><a href="{{ url_for('load.display_product', cat='clothes') }}">Clothes</a></li>
                    <li><a href="{{ url_for('load.display_product', cat='electronics') }}">Electronics</a></li>
                    <li><a href="{{ url_for('load.display_product', cat='sports') }}">Sports</a></li>
                    <li><a href="{{ url_for('load.display_product', cat='books') }}">Books</a></li>
                    <li><a href="{{ url_for('load.display_product', cat='others') }}">Others</a></li>
                    {% endif %}
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
{% endblock %}

{% block content %}
<!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview">
                            <img src={{ p.image }} alt="">
                        </div>

                    </div>
                </div>
                <!-- /Product main img -->

                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        <div class="product-preview">
                            <img src={{ p.image }} alt="">
                        </div>

                        <div class="product-preview">
                            <img src={{ p.image }} alt="">
                        </div>

                        <div class="product-preview">
                            <img src={{ p.image }} alt="">
                        </div>
<!--                        <div class="product-preview">-->
<!--                            <img src={{ p.image }} alt="">-->
<!--                        </div>-->

<!--                        <div class="product-preview">-->
<!--                            <img src={{ p.image }} alt="">-->
<!--                        </div>-->

<!--                        <div class="product-preview">-->
<!--                            <img src="./img/product06.png" alt="">-->
<!--                        </div>-->


                    </div>
                </div>
                <!-- /Product thumb imgs -->

                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">{{ p.name }}</h2>
                        <br>
                        <br>
                        <div>
                            <div class="product-rating">
                                {% if stars != 0 %}
                                    {% for s in range (0, stars) %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                {% endif %}
                                {% if stars != 5 %}
                                    {% for s in range (0, (5-stars)) %}
                                        <i class="fa fa-star-o"></i>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {{ feedback_num }} Ranks
                        </div>
                        <br>
                        <br>
                        <div>
                            <h3 class="product-price">${{ p.price }}</h3>
                        </div>
                        <br>
                        <br>
                        <br>
                        <p>{{ p.description }}</p>
                        <br>
                        <br>
                        <br>
                        <ul class="product-links">
                            <li>Category:</li>
                            <li><a href="{{ url_for('load.display_product', cat=p.category) }}">{{ p.category }}</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /Product details -->

                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li>Ranks</li>
                        </ul>
                        <!-- /product tab nav -->

                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab3  -->
                            <div id="tab3">
                                <div class="row">
                                    <!-- Rating -->
                                    <div class="col-md-3">
                                        <div id="rating">
                                            <div class="rating-avg">
                                                <span>{{ p.avg_star }}</span>
                                                <div class="rating-stars">
                                                    {% if stars != 0 %}
                                                        {% for s in range (0, stars) %}
                                                            <i class="fa fa-star"></i>
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% if stars != 5 %}
                                                        {% for s in range (0, (5-stars)) %}
                                                            <i class="fa fa-star-o"></i>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <ul class="rating">
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <span class="sum">{{ star[4] }}</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <span class="sum">{{ star[3] }}</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <span class="sum">{{ star[2] }}</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <span class="sum">{{ star[1] }}</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <span class="sum">{{ star[0] }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Rating -->

                                    <!-- Reviews -->
                                    <div class="col-md-6">
                                        <div id="reviews">
                                            <ul class="reviews">
                                                {% if session.get("ID") != None %}
                                                    {% for feedback in feedbacks %}
                                                        <li>
                                                            <div class="review-heading">
                                                                <h5 class="name">{{ feedback.username }}</h5>
                                                                <p class="date">{{ feedback.time }}</p>
                                                                <div class="review-rating">
                                                                    {% if feedback.star != 0 %}
                                                                        {% for s in range (0, feedback.star) %}
                                                                            <i class="fa fa-star"></i>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                    {% if feedback.star != 5 %}
                                                                        {% for s in range (0, (5-feedback.star)) %}
                                                                            <i class="fa fa-star-o"></i>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="review-body">
                                                                <p>{{ feedback.comment }}</p>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if session.get("ID") == None %}
                                                    {% if feedbacks != None %}
                                                        <li>
                                                            <div class="review-heading">
                                                                <h5 class="name">{{ feedbacks[0].username }}</h5>
                                                                <p class="date">{{ feedbacks[0].time }}</p>
                                                                <div class="review-rating">
                                                                    {% if feedbacks[0].star != 0 %}
                                                                        {% for s in range (0, feedbacks[0].star) %}
                                                                            <i class="fa fa-star"></i>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                    {% if feedbacks[0].star != 5 %}
                                                                        {% for s in range (0, (5-feedbacks[0].star)) %}
                                                                            <i class="fa fa-star-o"></i>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="review-body">
                                                                <p>{{ feedbacks[0].comment }}</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="review-heading">
                                                                <h5 class="name">{{ last_feedback.username }}</h5>
                                                                <p class="date">{{ last_feedback.time }}</p>
                                                                <div class="review-rating">
                                                                    {% if last_feedback.star != 0 %}
                                                                        {% for s in range (0, last_feedback.star) %}
                                                                            <i class="fa fa-star"></i>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                    {% if last_feedback.star != 5 %}
                                                                        {% for s in range (0, (5-last_feedback.star)) %}
                                                                            <i class="fa fa-star-o"></i>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="review-body">
                                                                <p>{{ last_feedback.comment }}</p>
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Reviews -->

                                    <!-- Review Form -->
                                    <div class="col-md-3">
                                        <div id="review-form">
                                            <form class="review-form" action="" method="post" novalidate>
<!--                                                <textarea class="input" id="text" placeholder="Your Review"></textarea>-->
<!--                                                <select class="input" name="choice" id="star">-->
<!--                                                    <option selected value="5">5</option>-->
<!--                                                    <option value="4">4</option>-->
<!--                                                    <option value="2">3</option>-->
<!--                                                    <option value="2">2</option>-->
<!--                                                    <option value="1">1</option>-->
<!--                                                </select>-->
<!--                                                <br>-->
<!--                                                <a href="" id='submit_rank' class="primary-btn order-submit">Submit</a>-->

                                                {{ form.hidden_tag() }}
                                                {{ form.comment(class="input", placeholder="Your Comment") }}
                                                {{ form.star(class="input") }}
                                                {{ form.submit(class="primary-btn order-submit") }}
<!--                                                <div class="input-rating">-->
<!--                                                    <span>Your Rating: </span>-->
<!--                                                    <div class="stars">-->
<!--                                                        <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>-->
<!--                                                        <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>-->
<!--                                                        <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>-->
<!--                                                        <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>-->
<!--                                                        <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>-->
<!--                                                    </div>-->
<!--                                                </div>-->
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /Review Form -->
                                </div>
                            </div>
                            <!-- /tab3  -->
                        </div>
                        <!-- /product tab content  -->
                    </div>
                </div>
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

{% endblock %}

